Source: nfcserver3
Section: python
Maintainer: John Doe <johndoe@example.com>
# Author: Ian Bowditch
Origin: ianbowditch
Build-Depends: debhelper (>= 7),
               python3 (>= 3.5)
Standards-Version: 4.5.1
Priority: optional

# not included (breaks) build-dep, python-pygame,
# from nfcserver2: libsdl-ttf2.0-dev, libsdl-mixer1.2-dev, libportmidi-dev, msmtp, msmtp-mta, unattended-upgrades,

Package: nfcserver3
Architecture: all
Section: python
Depends: python3 (>=3.10), ${misc:Depends}, pipx, crudini, libasound2-dev, libsystemd-dev, python3-sdl2, python3-systemd, apt-listchanges, apt-show-versions, apt-config-auto-update
Description: A simple nfcreader program to demonstrate how to package a Python 3 script as a deb file

